# action
name    = "create_db_secret"
timeout = "2m"

[[triggers]]
type           = "post-deploy-component"
component_name = "rds"

[[triggers]]
type = "manual"

[[steps]]
name    = "Copy RDS credentials to Kubernetes secret"
command = "./import.sh"

[steps.public_repo]
repo      = "nuonco/example-app-configs"
directory = "shared/actions/rds-secrets"
branch    = "main"

[steps.env_vars]
SECRET_ARN       = "{{ .nuon.components.rds.outputs.db_instance_master_user_secret_arn }}"
REGION           = "{{ .nuon.install_stack.outputs.region }}"
TARGET_NAME      = "gitea-db-credentials"
TARGET_NAMESPACE = "gitea"